## Assignment 3 - Competitive Assignment
An explanation this assignment could be found in the .pdf explanation document

### Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [85]:
# imports for reading and writing (input & output) files:
import pandas as pd
import os

In [86]:
### add whatever imports you need
# YOUR CODE HERE
import math
import numpy as np
import pandas as pd
from datetime import datetime

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
plt.style.use('seaborn-whitegrid')

import string
from nltk.corpus import stopwords

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix,classification_report
from sklearn import preprocessing
import statsmodels.api as sm

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [87]:
train_filename = '.' + os.sep + 'input' + os.sep + 'annotated_corpus_for_train.xlsx'
test_filename  = '.' + os.sep + 'input' + os.sep + 'corpus_for_test.xlsx'
df_train = pd.read_excel(train_filename, 'corpus', index_col=None, na_values=['NA'])
df_test  = pd.read_excel(test_filename,  'corpus', index_col=None, na_values=['NA'])

In [88]:
df_train.head(8)

                                               story gender
0  בוקר אחד קמתי סהרורי יצאתי מהמיטה קצת מטושטש ,...      m
1  לחבר שלי היה יום הולדת וחיפשנו מה אפשר לעשות ל...      m
2  השנה האחרונה הייתה שנת קורונה, שנה לא פשוטה בק...      m
3  לפני כחצי שנה עברתי לגור בצפון עם בת זוגתי, עב...      m
4  יום חמישי רגיל, תמיד מתחיל לעבור טיפה מאוחר יו...      m
5  בשנה האחרונה חוויתי את מגפת הקורונה שהכריח את ...      m
6  בסמסטר קודם אני וכמה חברים ללימודים קבענו להיפ...      m
7  בשנה האחרונה למרות שלא היו יותר מידיי דברים לע...      f

In [89]:
df_test.head(3)

   test_example_id                                              story
0                0  כחלק ממסגרת ההתנדבות שלי במגלה אני הולך לפעמיי...
1                1  לפני שנה החלטתי שאני רוצה להיות טייס, התחלתי ל...
2                2  בתקופת הקורונה של תחילת החיסונים נגד קורונה, א...

### Your implementation:
Write your code solution in the following code-cells

In [90]:
# YOUR CODE HERE
data = df_train
data
df_test.head(3)
data.gender.value_counts()

m    271
f     93
Name: gender, dtype: int64

In [91]:
# YOUR CODE HERE
#splitting document into words and tokenizing it. 
def text_process(x):
    return x.split()

transformation = CountVectorizer(analyzer=text_process).fit(data['story'])
print(len(transformation.vocabulary_))

27718

In [92]:
data['length'] = data['story'].apply(lambda x:len(x))
data = data[data['length']>0]
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364 entries, 0 to 363
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   story   364 non-null    object
 1   gender  364 non-null    object
 2   length  364 non-null    int64
dtypes: int64(1), object(2)
memory usage: 11.4+ KB

                                               story gender  length
0  בוקר אחד קמתי סהרורי יצאתי מהמיטה קצת מטושטש ,...      m    1524
1  לחבר שלי היה יום הולדת וחיפשנו מה אפשר לעשות ל...      m    2133
2  השנה האחרונה הייתה שנת קורונה, שנה לא פשוטה בק...      m    1882
3  לפני כחצי שנה עברתי לגור בצפון עם בת זוגתי, עב...      m    1978
4  יום חמישי רגיל, תמיד מתחיל לעבור טיפה מאוחר יו...      m    1630

In [93]:
path =  '.' + os.sep + 'input' + os.sep + 'stop_word_list_heb_example.txt'
with open(path, 'rb') as fp:
         stopword = fp.read (). decode ('utf-8')
        
list_hebrow_stopwords = stopword.splitlines()
print(list_hebrow_stopwords)

['לא', 'את', 'זה', 'של', 'על', 'אני', 'מה', 'עם', 'הוא', 'כל', 'אבל', 'גם', 'לי', 'יש', 'אם', 'אתה', 'רק', 'או', 'היה', 'אין', 'יותר', 'אז', 'היא', 'כי', 'לך', 'טוב', 'הם', 'מי', 'כמו', 'שלא', 'כבר', 'עוד', 'שלי', 'אחד', 'הזה', 'למה', 'לו', 'ולא', 'כמה', 'היום', 'אותו', 'איך', 'כן', 'כך', 'שהוא', 'צריך', 'שלך', 'להיות', 'עד', 'עכשיו', 'שם', 'שלו', 'שאני', 'ממש', 'שזה', 'כדי', 'אחרי', 'לפני', 'איזה', 'זו', 'תודה', 'הרבה', 'להם', 'פעם', 'אל', 'אותי', 'הכי', 'פה', 'אפשר', 'באמת', 'נראה', 'רוצה', 'יום', 'מאוד', 'שיש', 'בין', 'משהו', 'יכול', 'אולי', 'בכל', 'אנשים', 'אנחנו', 'יודע', 'נכון', 'נגד', 'זאת', 'בלי', 'פשוט', 'הכל', 'שאתה', 'יהיה', 'לנו', 'היו', 'לעשות', 'דבר', 'אתם', 'וגם', 'ככה', 'אותך', 'הייתי', 'בדיוק', 'אדם', 'קצת', 'אותם', 'בן', 'שנים', 'כאן', 'בגלל', 'שהם', 'כזה', 'אומר', 'לה', 'וזה', 'שנה', 'עושה', 'אותה', 'שלהם', 'אחת', 'בכלל', 'עדיין', 'שלנו', 'תמיד', 'ברור', 'ואני', 'לכל', 'אף', 'בו', 'שני', 'אחר', 'בית', 'מישהו', 'חושב', 'אפילו', 'האם', 'מעניין', 'לכם', 'מבין', 'אלא', 'שהיא', 'במקום', 'קשה', 'חוק', 'די', 'שום', 'כנראה', 'כולם', 'איפה', 'פחות', 'זמן', 'יפה', 'בבית', 'שוב', 'ואז', 'שלה', 'סרטון', 'בשביל', 'הזמן', 'דרך', 'ללא', 'לראות', 'מול', 'טובה', 'דברים', 'הייתה', 'הזו', 'כלום', 'שאין', 'אמר', 'גדול', 'לפחות', 'לזה', 'סתם', 'אביב', 'בוקר', 'ועוד', 'עליו', 'לגמרי', 'הזאת', 'אחרת', 'חיים', 'מזל', 'רואה', 'מספיק', 'מקום', 'בעולם', 'היתה', 'בטוח', 'נו', 'לפי', 'חשוב', 'חדש', 'בני', 'מזה', 'כאילו', 'ביותר', 'בא', 'אי', 'עושים', 'איש', 'שאת', 'לב', 'בסדר', 'חלק', 'סוף', 'אגב', 'האמת', 'תהיה', 'ביום', 'כסף', 'העולם', 'רוצים', 'מדינה', 'להגיד', 'צודק', 'האלה', 'שלכם', 'נשים', 'אתמול', 'דווקא', 'מתי', 'ילדים', 'שכל', 'חבל', 'מקווה', 'בטח', 'והוא', 'אצל', 'הבנתי', 'ואת', 'לאחר', 'הגיע', 'כאלה', 'אלה', 'הבעיה', 'שהיה', 'בזה', 'אוהב', 'בה', 'רגע', 'אותנו', 'יודעת', 'מחר', 'מגיע', 'יודעים', 'מדי', 'צריכה', 'הולך', 'שמח', 'בדרך', 'לגבי', 'קורה', 'מלא', 'לדבר', 'לתת', 'אך', 'ומה', 'מצב', 'חוץ', 'עצמו', 'ואם', 'הבא', 'כמובן', 'היית', 'למרות', 'למי', 'שבוע', 'לקבל', 'בסוף', 'סימנתי', 'יכולה', 'ראיתי', 'קרה', 'החיים', 'מדובר', 'כמעט', 'מספר', 'מאז', 'אה', 'באופן']

In [94]:
Xfeatures = df_train['story']
Xfeatures.dtypes
count_vect = CountVectorizer(ngram_range=(1,1),stop_words=list_hebrow_stopwords,token_pattern=r"[א-ת*]+",max_features=10000)
X_train_counts = count_vect.fit_transform(Xfeatures)
X_train_counts.shape

(364, 10000)

In [95]:
X_train_normalized = preprocessing.normalize(X_train_counts, norm='l1')
X_train_normalized.toarray()[0:10]

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [96]:
X = data['story']
y = data['gender']

In [97]:
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.30,random_state=1)

In [98]:
mess = transformation.transform(x_train)
transformerdf = TfidfTransformer().fit(mess)
messages_tfidf = transformerdf.transform(mess)
print(messages_tfidf.shape)

(254, 27718)

In [99]:
spam_detect_model = MultinomialNB().fit(messages_tfidf,y_train)
spam_detect_model.score(transformerdf.transform(transformation.transform(x_test)), y_test)

0.7818181818181819

In [100]:
df_train[df_train['gender'] == 'm'].shape[0] / df_train.shape[0]

0.7445054945054945

In [101]:
df_test['predicted_category'] = spam_detect_model.predict(transformerdf.transform(transformation.transform(df_test.story)))

In [102]:
df_test.drop(columns=['story'])

     test_example_id pred
0                  0    m
1                  1    m
2                  2    m
3                  3    m
4                  4    m
..               ...  ...
151              151    m
152              152    m
153              153    m
154              154    m
155              155    m

[156 rows x 2 columns]

In [103]:
test_bow = transformation.transform(x_test)
transformerdf = TfidfTransformer().fit(test_bow)
test_tfidf = transformerdf.transform(test_bow)
print(test_tfidf.shape)

(110, 27718)

In [104]:
y_pred = spam_detect_model.predict(test_tfidf)
print(y_pred)

['m' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm'
 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm'
 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm'
 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm'
 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm'
 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm'
 'm' 'm']

In [105]:
print('confusion matrix')
print(confusion_matrix(y_test,y_pred))
y_test

confusion matrix
[[ 0 24]
 [ 0 86]]

250    m
208    m
95     f
138    m
229    f
      ..
323    m
224    f
305    m
197    m
14     m
Name: gender, Length: 110, dtype: object

In [106]:
from sklearn.metrics import confusion_matrix,classification_report
print(classification_report(y_test,y_pred,labels=['m','f']))

              precision    recall  f1-score   support

           m       0.78      1.00      0.88        86
           f       0.00      0.00      0.00        24

    accuracy                           0.78       110
   macro avg       0.39      0.50      0.44       110
weighted avg       0.61      0.78      0.69       110

/home/ofirk/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [107]:
df_predicted = df_test.drop(columns=['story'])

### Save output to csv
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following:

In [108]:
df_predicted.to_csv('classification_results.csv',index=False)